.categories {
	width: 962px;
	height: 50px;
	display: flex;
	gap: 30px;
	margin: 30px 0 0 250px;
	& button {
		width: 150px;
		height: 50px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ebebeb;
		border-radius: 50px;
		font-size: 1.25rem;
		font-weight: 500;
		transition: all 0.2s ease-in-out;
		border: none;
	}
	& button:hover {
		background-color: rgba(207, 207, 207, 1);
	}
}

.active-category {
	background-color: rgb(110, 110, 110) !important;
	color: white;
	font-weight: 500;
}
